In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
Arr = pd.Series(np.random.randn(7))
print (arr.size)

3

In [63]:
df.shape

#There are 7089 rows and 4 columns

(2161, 1)

In [8]:
df.isnull().sum()

There are 1300 rows with missing country code values

COUNTRY                                                    0
CODE                                                    1300
YEAR                                                       0
INDIVIDUALS USING THE INTERNET (% OF THE POPULATION)       0
dtype: int64

In [62]:
df.drop(df.columns[1], inplace=True)
df

IndexError: index 1 is out of bounds for axis 0 with size 1

In [55]:
#I wanted to analyse the latest 10 years of the dataset, that is 2008-2017
#so dropped all the years below 2008
df.drop(df[df['YEAR']< 2006].index, inplace = True)
df

,COUNTRY,CODE,YEAR,INDIVIDUALS USING THE INTERNET (% OF THE POPULATION)
15,Afghanistan,AFG,2010,4.000000
16,Afghanistan,AFG,2011,5.000000
17,Afghanistan,AFG,2012,5.454545
18,Afghanistan,AFG,2013,5.900000
19,Afghanistan,AFG,2014,7.000000
...,...,...,...,...
7084,Zimbabwe,ZWE,2013,15.500000
7085,Zimbabwe,ZWE,2014,16.364740
7086,Zimbabwe,ZWE,2015,22.742818
7087,Zimbabwe,ZWE,2016,23.119989
7088,Zimbabwe,ZWE,2017,27.055488

In [71]:
df=df[(df['YEAR']< 2002) & (df['YEAR']>2017).index, inplace == True]
df

KeyError: 'YEAR'

In [37]:
df.YEAR.unique().tolist()

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2017, 2016, 2019, 2018]

In [56]:
df.drop(df[df['YEAR']< 2007].index, inplace = True)
df

,COUNTRY,CODE,YEAR,INDIVIDUALS USING THE INTERNET (% OF THE POPULATION)
15,Afghanistan,AFG,2010,4.000000
16,Afghanistan,AFG,2011,5.000000
17,Afghanistan,AFG,2012,5.454545
18,Afghanistan,AFG,2013,5.900000
19,Afghanistan,AFG,2014,7.000000
...,...,...,...,...
7084,Zimbabwe,ZWE,2013,15.500000
7085,Zimbabwe,ZWE,2014,16.364740
7086,Zimbabwe,ZWE,2015,22.742818
7087,Zimbabwe,ZWE,2016,23.119989
7088,Zimbabwe,ZWE,2017,27.055488